@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<section class="our-services ">
    <div class="container">
        <p>@Model.Value("ourServicesSectionTitle")</p>
        <h1>@Model.Value("ourServicesSectionHeading")</h1>
        <div class="service-cards">
           @Html.GetBlockListHtml(Model.OurServices)
        </div>
    </div>
    <a class="beige-btn" href="@Model.Value("ourServicesSectionButtonUrl")">@Model.Value("ourServicesSectionButtonText")<i class="fa-solid fa-arrow-up-right"></i></a>
    <img class="wavy-right" src="images/background-lines-right.svg" alt="">
</section>
